@import "src/globalStyles/mixins";

.container {
  background-color: var(--white);
  padding: 1.6rem;
  @include fixContent;
  .product {
    display: flex;
    padding: 1.6rem 0;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid var(--gray-1);
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
    figure {
      min-width: 18rem;
      max-width: 18rem;
      min-height: 18rem;
      max-height: 18rem;
      display: flex;
      margin-right: 1.6rem;
      img {
        width: 100%;
        border-radius: .4rem;
        object-fit: scale-down;
      }
    }
    .details {
      width: 100%;
      h3 {
        width: 90%;
        margin-top: 1.6rem;
        margin-bottom: 3.2rem;
        font-size: var(--size-24);
        display: flex;
        font-weight: normal;
        justify-content: space-between;
        align-items: center;
        .address {
          color: var(--gray-2);
          font-size: var(--size-12);
        }
      }
      h4 {
        font-weight: normal;
        font-size: var(--size-18);
      }
    }
  }
}