@import "src/globalStyles/mixins";
.title {
  color: var(--gray-3);
  font-size: var(--size-28);
  background-color: var(--white);
  text-align: center;
  border-radius: .4rem;
  @include fixContent;
  margin-top: 1.6rem;
  padding: 1.6rem;
}